.aboutme-p {
  font-family: "Edu QLD Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.content-ar {
  font-family: "Playpen Sans Arabic", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

span {
  font-family: "Edu QLD Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.slide-left {
	-webkit-animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
.slide-left-reverse {
	-webkit-animation: slide-left-reverse 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-left-reverse 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
.slide-right {
	-webkit-animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-right-reverser {
	-webkit-animation: slide-right-reverser 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-right-reverser 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 /* * animation slide-left */

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1600px);
            transform: translateX(-1600px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1600px);
            transform: translateX(-1600px);
  }
}
 
@keyframes slide-left-reverse {
    0% {
    -webkit-transform: translateX(-1600px);
            transform: translateX(-1600px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
 
 /* * animation slide-right */

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(1600px);
            transform: translateX(1600px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(1600px);
            transform: translateX(1600px);
  }
}

@keyframes slide-right-reverser{
  0% {

        -webkit-transform: translateX(1600px);
            transform: translateX(1600px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

